header {
    height: 10rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.logo {

}

.menu {
    display: flex;
    gap: 5rem;
}

.menu__item {
    font-size: 2.4rem;
    text-decoration: none;
    color: #bbb;
    position: relative;
}

.menu__item:hover {
    color: #fff;
    transition: 0.5s;
}

.menu__item::after {
    content: '';
    display: block;
    position: absolute;
    height: 0.3rem;
    width: 100%;
    background-color: #fff;
    margin-top: 1rem;
    opacity: 0%;
    transition: 0.5s;
}

.menu__item:hover::after {
    opacity: 100%;
}

.active {
    color: #F52222;
}