<div class="content">
    <div class="card">
        <h1 class="title">COTAÇÕES EM TEMPO REAL</h1>
        <div class="divider"></div>
        <div class="header">
            <div class="header__item flex-2">MOEDA</div>
            <div class="header__item flex-2">VARIAÇÃO</div>
            <div class="header__item flex-1">VALOR R$</div>
        </div>
        <div class="cotacao">
            <div class="cotacao__item flex-2">DÓLAR AMERICANO</div>
            <div class="cotacao__item flex-2">+0,1001</div>
            <div class="cotacao__item flex-1">R$ 4,3894
                <button class="btn-go-to-conversor">
                    <img class="img-go-to-conversor" src="../assets/go-to-conversor.svg" alt="ícone para voltar no conversor">
                </button>
            </div>
        </div>
    </div>
</div>