.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    box-sizing: border-box;
}

.card {
    width: 970px;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.15);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 4rem;
    color: #fff;
    margin: 2.2rem 2.4rem;
}

.divider {
    height: 1px;
    background-color: black;
}

.card__content {
    overflow-y: auto;
    flex: 1;
    scrollbar-width: none;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 2.4rem;
}

.header__item {
    font-size: 2.4rem;
    color: rgba(187, 187, 187, 1);
    flex: 1;
}

.cotacao {
    display: flex;
    padding: 1.6rem 2.4rem;
}

.cotacao:hover {
    background: rgba(217, 217, 217, 0.15)
}

.cotacao__item {
    font-size: 2.4rem;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    flex: 1;
}

.variacao-positiva {
    color: #0ae40a;
}

.variacao-negativa {
    color: #da1414;
}

.btn-go-to-conversor {
    background: none;
    border: none;
    padding: 0; 
    cursor: pointer;

    height: 3.6rem;
    width: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-go-to-conversor:hover {
    content: url('../../../assets/go-to-conversor-hover.svg');

}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-end {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .title {
        text-align: center;
    }

    .header__item {
        font-size: 20px;
    }

    .cotacao__item {
        font-size: 18px;
    }

    /* Padrão para mobile */
    .hide-xs {
        display: none;
    }
}