<div class="content">
    <div class="card">
        <h1 class="title">COTAÇÕES EM TEMPO REAL</h1>
        <div class="divider"></div>
        
            <div class="header">
                <div class="header__item">MOEDA</div>
                <div class="header__item hide-xs justify-content-center">VARIAÇÃO (%)</div>
                <div class="header__item justify-content-end">VALOR R$</div>
            </div>
        <div class="card__content">    
            <!-- Quando precisa repetir se utiliza o *ngFor -->
            <div *ngFor="let cotacao of cotacoes" class="cotacao">
                <div class="cotacao__item">{{cotacao.name}}</div>
                <div class="cotacao__item hide-xs justify-content-center" [ngClass]="getClassBy(cotacao.varBid)">{{cotacao.getVariacao()}}</div>
                <!-- Funciona porém fica grande <div [ngClass]="{'variacao-positiva': cotacao.varBid > 0, 'variacao-negativa': cotacao.varBid < 0}" class="cotacao__item flex-2">{{cotacao.getVariacao()}}</div> -->
                <div class="cotacao__item justify-content-end">{{this.cotacao.getValorMonetario()}}
                    <button class="btn-go-to-conversor  hide-xs" (click)="goToConversor(cotacao)">
                        <img class="img-go-to-conversor" src="../assets/go-to-conversor.svg" alt="ícone para voltar no conversor">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>