*{
    box-sizing: border-box;
}

main {
    height: calc(100vh - 102px);
    
}

.conversor {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.conversor-container {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 50rem; /*Precisa ser ajustado*/
    height: 90%;
    background: linear-gradient(180deg, rgba(43, 43, 43, 0.95), rgba(43, 43, 43, 0.266)) padding-box, 
    linear-gradient(rgba(104, 104, 104, 1), rgba(104, 104, 104, 0)) border-box;
    border-radius: 30px;
    border: 2px solid transparent;
    padding: 3rem;
}

.card__title {
    font-size: 4rem;
    color: #fff;
    text-align: center;
    margin: 0;
    margin: 0 0 1rem 0;
}

.label {
    font-size: 2.4rem;
    color: #fff;
    padding: 0 0 0.3rem 1.6rem;
}

.mt-3 {
    margin-top: 3rem;
}

.dropdown {
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 3rem;
    background-color: transparent;
    color: #fff;
    padding: 2rem 0 2rem 1.6rem;
}

.input-valor {
    font-size: 3rem;
    color: #fff;
    padding: 2rem 1.6rem;
    border: 1.3px solid #79747e;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 4.4rem;
}

.button-calcular {
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #f52222;
    padding: 1.5rem;
    border-radius: 25px;
    color: #fff;
    border: none;
    outline: none;
}

.placeholder {
    font-size: 2.8rem;
    color: #bbb;
    text-align: center;
    padding: 9rem;
}

.resultado_rodape {
    display: none;
}

.resultado {

}

.rodape {

}